<h2 class=' ms-2 pb-0 pt-2'>Error attempting to login, logout or reset new password</h2>

<div class="card-body pb-0 pt-2 d-flex gap-1">
    <form action="/api/session/login" method="get">
        <button class="btn btn-outline-danger btn-sm mb-3 px-5" type="submit">Back to login</button>
    </form>
</div>