<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8 bg-dark text-white rounded p-3">
            <h1>Chat Mensajes</h1>
            <div class="ms-2">
                <button id="startChat" class="btn btn-outline-light btn-lg rounded my-3">Comenzar</button>
                <input type="text" id="chatBox" class="form-control custom-input" placeholder="Escribe aquí tu mensaje">
                <button id="chatButton" class="btn btn-outline-success btn-lg rounded my-3">Enviar</button>
            </div>
            <div class="ms-2" style="max-height: 100vh; overflow-y: auto;">
                <p id="messagesP"></p>
            </div>
        </div>
    </div>
</div>