<h1> Chat mensajes </h1>

<div class="ms-2">
    <button id="startChat">Chat</button>
    <input type="text" id="chatBox">
    <button id="chatButton">Enviar</button>
</div>
<div class="ms-2">
    <p id="messagesP"></p>
</div>