<div class="container mt-5">
    <h1 class="text-center">Orden completada</h1>
    <div class="card p-4">
        <p><strong>Identificación de la orden:</strong> {{orders.code}}</p>
        <p><strong>Fecha:</strong> {{orders.pucharse_datetime}}</p>
        <p><strong>Cantidad total:</strong> €{{orders.amount}}</p>
        <p><strong>Comprador:</strong> {{orders.purchaser}}</p>
    </div>
    <div class="text-center mt-4">
        <form action="/api/products/" method="get">
            <button class="btn btn-primary btn-lg px-5" type="submit">HOME</button>
        </form>
    </div>
</div>