<div class="register">
<div class="ps-2">
    <h1>Registrar usuarios</h1>
    <form action="/api/register" method="post">

        First Name: <input type="text" name="first_name" required><br>
        Last Name: <input type="text" name="last_name" required><br>
        Email: <input type="text" name="email" required><br>
        Age: <input type="text" name="age" required><br>
        Password: <input type="text" name="password" required><br>

        <input type="submit" value="Crear usuario">
    </form>
</div>

</div>