<div class="container mt-5">
    <h1 class="text-center">401 Unauthorized</h1>
    <div class="card p-4">
        <p>Sorry, you don't have permission to access this resource.</p>
    </div>
    <div class="text-center mt-4">
        <a href="/api/session/login" class="btn btn-primary btn-lg">Login</a>
    </div>
</div>